
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }

/*Cabeçalho*/
.cabecalho{
    background-color:rgba(93, 22, 235, 1);
    height: 150px;
  }
  #logo{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  #imglogo{
    height: 100px;
    border-radius: 100%;
  }
  .menu{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    position: relative;
    top: 10px;
  }
  .op{
    text-decoration: none;
    padding: 10px;
    color: white;
  }
  .op:hover{
    color: rgba(95, 27, 230, 1);
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  #parallax {
    background: url(../imagens/computador2.jpeg) no-repeat;
    height: 1041px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    opacity: 0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header {
    background-color: rgb(224, 224, 224);
    height: 130px;
  }
 
  #introducao h1{
    text-align: center;
  }

  #introducao p {
    text-align: center;
  }

  .footer{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  #rodape{
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  /*Formulario*/

 .title h1{
    text-align: center;
    background-color: rgb(214, 214, 214);
 }
 
.formulario{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: larger;
}

.barras{
    width: 400px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.entrar{
    width: 400px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: rgb(164, 88, 235);
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.entrar:hover{
    background-color: rgb(119, 64, 170);
}

.center{
    text-align: center;
}